h1, h2, h3, h4
{
	color: #444;
}

h1
{
	font-family: 'Crete Round', serif;
	font-size: 45px;
}

.banner{
    width: 100vw;
	/* height: 100vh; */
	margin: 0;
	/* background: url(img/external-content.duckduckgo.com.jpg) fixed;
    background-size: auto auto;
    background-repeat: no-repeat; */
	/* display: flex; */
	margin-bottom: 5rem !important;
	position: relative;
}

.welcome{
	display: inline-block;
	position: absolute;
	left: calc(25vw - 100px);
	font-size: calc(2vw + 2vh + 1vmin);
}

h2
{
	font-weight: normal;
	text-transform: uppercase;
}

.button-1
{
	display: block;
	position: absolute;
	top: 75px;
	left: calc(50vw - 119px);
	width: 120px;
	height: 50px;
	background: #02b8dd;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
}

.button-1:hover
{
    background: #39a4cf;
    text-decoration: none;
    color: #fff;
}

.wrapper
{
	width: 100vw;
	margin: 0 auto;
	padding: 0 10px;
	justify-content: center;
}

.orange
{
	color: #ff7a00;
}

.clear
{
	clear: both;
}

#possibilities
{
	background-color: #efefef;
	padding: 60px 0;
	display: flex;
	margin-bottom: 5rem;
}

#possibilities article
{
	width: 460px;
	height: 270px;
	float: left;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 30px;
	overflow: hidden;
}

.overlay
{
	background: rgba(228, 224, 224, 0.671);
	height: 100%;
	width: 190px;
	padding: 20px;
	border-radius: 10px 0 0 10px;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.8s;
}

article h4
{
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}

#possibilities p
{
	text-align: center;
	margin-bottom: 20px;
}

.button-2
{
	color: #fff;
	background-color: #02b8dd;
	padding : 6px 20px;
	border-radius: 3px;
}

.button-2:hover
{
	background-color: #39a4cf;
	color: #fff;
	text-decoration: none;
}

.firstBox{
	background-image: url(img/20494258388_d26dccd5ed_o.jpg);
	background-size: cover;
}

.secondBox{
	background-image: url(img/scegliere-web-agency.jpg);
	background-size: cover;
}

.overlay:hover{
	width: 100%;
	background: rgba(71, 152, 245, 0.918);
	border-radius: 10px 10px 10px 10px;
	color: #fff;
}

.overlay:hover h4{
	color: #fff;
	font-size: 1.8rem;
}

.overlay:hover p{
	font-size: 1.5rem;
}

#about, #portfolio{
	background-color: #efefef;
	padding: 60px 0;
	margin-bottom: 5rem;
	display: flex;
}

.aboutBox{
	display: flex;
	width: 100%;
}
.star{
	background-image: url(img/star_wars.jpg);
}

.cards{
	width: 450px;
	height: 300px;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	margin-top: 20px;
	margin-right: 30px;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
}

.cards h4{
	border-bottom: 1px solid #444;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.marion{
	background-image: url(img/image0.png),
	url(img/girly.jpg);
	background-size: 50%, cover;
	background-repeat: no-repeat;
	background-position-x: right;
}

.jay-cy{
	background-image: url(img/jc.png),
	url(img/Star.jpg);
	background-size: 50%, cover;
	background-repeat: no-repeat;
	background-position-x: right;
}

.overlay2
{
	background: rgba(228, 224, 224, 0.671);
	height: 100%;
	width: 190px;
	padding: 20px;
	border-radius: 10px 0 0 10px;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.8s;
}

.overlay2:hover{
	width: 100%;
	background: rgba(228, 224, 224, 0.671);
	border-radius: 10px;
	color: #444;
}

.overlay2:hover h4{
	color: #444 !important;
	font-size: 1.8rem;
}

.overlay2:hover p{
	font-size: 1.5rem;
}

#portfolio img{
	width: calc(33.33vw - 30px);
	min-width: 450px;
	height: 400px;
	margin-top: 20px;
	margin-right: 30px;
	border-radius: 10px;
}

.demo{
	flex-flow: row wrap;
	flex: 1;
	justify-content: center;
}

#contact{
	background-color: #efefef;
	padding: 60px 0;
}

.contactBox{
	background: url(img/contactBis.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	width: calc(100% - 10px);
	height: 480px;
	padding: 0 10px;
}

.contactBox form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-3
{
	color: #fff;
	background-color: #02b8dd;
	border: 1px solid #02b8dd;
	padding : 6px 20px;
	border-radius: 3px;
	width: 120px;
	margin: 10px auto;
}

.button-3:hover
{
	background-color: #39a4cf;
	color: #fff;
	text-decoration: none;
}

.inputBox{
	width: calc(60vw + 10vh + 0.5vmin);
}

footer{
	padding: 6px 20px;
}
@media screen and (max-width: 576px){
	.welcome{
		font-size: 1.5rem;
		top: -30px;
		left: 0;
		padding: 0 10px;
	}

	.button-1{
		left: calc(100vw - 80px);
		width: 80px;
		font-size: calc(1vw + 1vh + 0.5vmin)
	}

	#portfolio img{
		width: calc(100vw - 30px);
	}

	.inputBox{
		width: calc(100vw - 60px);
		/* min-width: 400px; */
	}
}

@media screen and (max-width: 992px){
	#portfolio img{
		width: calc(100vw - 30px);
	}

	.button-1{
		left: calc(75vw - 4px);
		top: 134px;
	}

	/* .inputBox{
		width: 50%;
	} */
}